.header {
	background-color: var(--gray-700);

	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 4.5rem;
	padding-bottom: 5rem;
}

.header img {
	height: 2.25rem;
	padding-right: 0.75rem;
}

.header strong {
	font-size: 2.5rem;
	font-weight: 900;
	color: var(--blue);
}
.header strong + strong {
	font-size: 2.5rem;
	font-weight: 900;
	color: var(--purple-dark);
}
